/* Bread Design System - Font Declarations */

/* TODO: Add actual font files to public/fonts/ directory */
/* Font files needed:
   - PogacaDisplayBlack.woff2
   - PogacaDisplayBold.woff2
   - PogacaDisplayRegular.woff2
   - PogacaBodyBold.woff2
   - PogacaBodyRegular.woff2
*/

/* Bread Display - For large headings (H1-H3) */
@font-face {
  font-family: "Bread Display";
  src: url("/fonts/PogacaDisplayBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bread Display";
  src: url("/fonts/PogacaDisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bread Display";
  src: url("/fonts/PogacaDisplayRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bread Body - For body text, smaller headings, UI elements */
@font-face {
  font-family: "Bread Body";
  src: url("/fonts/PogacaBodyBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bread Body";
  src: url("/fonts/PogacaBodyRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font family CSS variables */
:root {
  --font-breadDisplay: "Bread Display", ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-breadBody: "Bread Body", ui-sans-serif, system-ui, -apple-system, sans-serif;
}
