/* Obsidian-style markdown support for Starlight */

/* Internal link styling for wikilinks */
.internal-link {
	color: var(--sl-color-text-accent);
	text-decoration: underline;
	text-decoration-style: dotted;
}

.internal-link:hover {
	text-decoration-style: solid;
}

/* Broken/missing internal links */
.internal-link-new {
	color: var(--sl-color-red);
	text-decoration: underline;
	text-decoration-style: dotted;
}

.internal-link-new:hover {
	text-decoration-style: solid;
}

/*
 * Callout styles are provided by rehype-callouts with theme: 'obsidian'
 * The plugin includes built-in CSS for Obsidian-style callouts with dark mode support
 * See: https://github.com/lin-stephanie/rehype-callouts
 */
